body {
    font-family: Arial, sans-serif;
}

/* Utility */
.ps_orange_button {
    background-color: #cd3d0f;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_blue_button {
    background-color: #2d64e7;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_white_button {
    background-color: white;
    border: none;
    color: #2d64e6;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_black_button {
    background-color: #3e3e3e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px; 
}

.ps_whiteblack_button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px; 
}

.box_rounded {
    border-radius: 15px;
}

.mt-100 {
    margin-top: 100px;
}

/* General Buttons Settings */

.ps_orange_button:hover {
    background-color: #cd3d0f;
}

.ps_blue_button:hover {
    background: #2d64e7;
}

.ps_white_button:hover {
    background-color: white;

}

.ps_black_button:hover {
    background: #3e3e3e;
}

.ps_whiteblack_button:hover {
    background: white;
}



/* Header */

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
}

/* Top Header */
.top_header {
    background: black;
}

.top_header img {
    width: 80px;
}

/* Main Menu */
.main_menu {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: Helvetica, sans-serif;
}

.main_menu .navbar-light .navbar-nav .nav-link {
    color: black;
}

.right_main_menu {
    text-align: right;
}

.menu_arrow {
    font-size: 10px;
    color: #a3a3a3;
}

/* Hero */
.hero {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 120px;
    
}

.hero img {
    max-width: 50%;
}

.hero_content h1,p {
    color: white;
    
}

.search_icon {
    width: 50%;
}

/* Main Games Section  */

.main_games img {
    padding: 5px;
    cursor: pointer;
}

.main_games img:hover {
    border: 1px solid #0072ce;
}

/* Playstation Presentation Section */

.ps_pre_title {
    font-size: 12px;
    color: #0072ce;
}

.ps_subtitle {
    color: #727272;
}

/* PlayStation 5 Products */

.ps_console {
    opacity: 0.50;
}

.ps_console:hover {
    opacity: 1;
}

.ps_joypad {
    opacity: 0.50;
}

.ps_joypad:hover {
    opacity: 1;
}

.ps_headset {
    opacity: 0.50;
}

.ps_headset:hover {
    opacity: 1;
}

.ps_remote {
    opacity: 0.50;
}

.ps_remote:hover {
    opacity: 1;
}

.ps_camera {
    opacity: 0.50;
}

.ps_camera:hover {
    opacity: 1;
}

.ps5:hover,
.joypad:hover,
.headset:hover,
.remote:hover,
.camera:hover {
    
    border-bottom: 2px solid #4d7bd3;

}




/* It Takes Two Game Section */

.game_jumbo {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.game_jumbo img {
    width: 50%;
}

/* New Games Section */

.new_games {
    background-color: #1f1f1f;
}

.game_heading {
    color: white;
}

.game_title {
    color: white;
    font-size: 12px;
}

/* PlayStation Plus Section */

.ps_plus_banner {
    background: #bebcbb;
}

.ps_plus_logo {
    width: 50%;
}

/* PlayStation Now Section */

.ps_now_banner {
    background: #161c3b;
}

.ps_now_logo {
    width: 50%;
}

.ps_now_banner span {
    color: white;
}

/* Footer */

footer {
    background-color: #00439c;
}

.play_footer_logo {
    width: 20%;
    color: white;
}

.country_selector {
    color: white;
}

.country_selector::before {
    content: '\f0ac';
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
    
}

footer li a {
    text-decoration: none;
    color: white;
}

footer a {
    color: white;
}

.sie_logo {
    width: 25%;
}




