body {
    font-family: Arial, sans-serif;
}

/* Utility */
.ps_orange_button {
    background-color: #cd3d0f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 18px;
}

.box_rounded {
    border-radius: 15px;
}

/* Top Header */
.top_header {
    background: black;
}

.top_header img {
    width: 80px;
}

/* Main Menu */
.main_menu {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: Helvetica, sans-serif;
}

/* Hero */
.hero {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    
}

.hero img {
    max-width: 50%;
}

.hero_content h1,p {
    color: white;
    
}