body {
    font-family: Arial, sans-serif;
}

/* Utility */
.ps_orange_button {
    background-color: #cd3d0f;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_blue_button {
    background-color: #2d64e7;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_white_button {
    background-color: white;
    border: none;
    color: #2d64e6;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.ps_whiteblack_button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px; 
}

.box_rounded {
    border-radius: 15px;
}

.mt-100 {
    margin-top: 100px;
}

/* Top Header */
.top_header {
    background: black;
}

.top_header img {
    width: 80px;
}

/* Main Menu */
.main_menu {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: Helvetica, sans-serif;
}

/* Hero */
.hero {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.hero img {
    max-width: 50%;
}

.hero_content h1,p {
    color: white;
    
}

/* Playstation Presentation Section */

.ps_pre_title {
    font-size: 12px;
    color: #0072ce;
}

.ps_subtitle {
    color: #727272;
}

/* It Takes Two Game Section */

.game_jumbo {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.game_jumbo img {
    width: 50%;
}

/* New Games Section */

.new_games {
    background-color: #1f1f1f;
}

.game_heading {
    color: white;
}

.game_title {
    color: white;
    font-size: 12px;
}

/* PlayStation Plus Section */

.ps_plus_banner {
    background: #bebcbb;
}

.ps_plus_logo {
    width: 50%;
}

/* PlayStation Now Section */

.ps_now_banner {
    background: #161c3b;
}

.ps_now_logo {
    width: 50%;
}

.ps_now_banner span {
    color: white;
}

/* Footer */

footer {
    background-color: #00439c;
}

.play_footer_logo {
    width: 20%;
    color: white;
}

.country_selector {
    color: white;
}

.country_selector::before {
    content: '\f0ac';
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
    
}

footer li a {
    text-decoration: none;
    color: white;
}

footer a {
    color: white;
}

.sie_logo {
    width: 25%;
}




